
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">

        <!-- for mobile devices -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="format-detection" content="telephone=no" />

        <!-- Icon -->
        <link rel="shortcut icon" href={{ url_for('static', filename='images/favicon.png') }} type="image/vnd.microsoft.icon" />
        <link rel="icon" href={{ url_for('static', filename='images/favicon.png') }} type="image/x-ico" />

        <title>Игра</title>

        <link rel='stylesheet' href={{ url_for('static', filename='css/settings.css') }} />
        <link rel='stylesheet' href={{ url_for('static', filename='css/animsition.css') }} />
        <link rel='stylesheet' href={{ url_for('static', filename='css/font-awesome.css') }} />
        <link rel='stylesheet' href={{ url_for('static', filename='css/style.css') }} />
        <link rel='stylesheet' href={{ url_for('static', filename='css/media.css') }} />
        <link rel='stylesheet' href={{ url_for('static', filename='css/composer.min.css') }} />
        <link rel='stylesheet' href={{ url_for('static', filename='css/custom_script.css') }} />


    </head>

    <body class="home page page-id-7 page-parent page-template page-template-template-one-pager page-template-template-one-pager-php wpb-js-composer js-comp-ver-4.12 vc_responsive">
        <div class="overlay overlay-slidedown">
            <div class="fa overlay-close fa-close"></div>
            <div class="popup-search-wrapper">
                <form method="get" id="searchform" class="search-form" action="#">
                    <div>
                        <input type="text" id="s" name="s" value="Type text and hit enter" onfocus="if(this.value=='Type text and hit enter')this.value='';" onblur="if(this.value=='')this.value='Type text and hit enter';" autocomplete="off">
                    </div>
                </form>
            </div>
        </div>
        <div class="animsition global-wrapper">
            <div class="boxed-wrapper">
                <section id="home" class="onepager_section_class first-onepage-section first-page-item">
                </section>


                                    <!-- header -->
                <div id="header" class="wrapper-special">

                    <div class="logo">
                        <a href="/" title="ENES"><img class="logoImage" src={{ url_for('static', filename='images/logo.png') }} alt="ENES" /><img class="logoImageRetina" src={{ url_for('static', filename='images/logo-retina.png') }} alt="ENES" /></a>
                        <div class="clear"></div>
                    </div>

                    
                    <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" >
                        <div id="rev_slider_1_1" class="rev_slider fullwidthabanner"  data-version="5.2.6">
                            <ul>
                                <li data-index="rs-1" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb={{ url_for('static', filename='upload/cat-slider-100x50.jpg') }} data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                    <!-- MAIN IMAGE -->
                                    <img src={{ url_for('static', filename='upload/cat-slider.jpg') }} alt="" title="cat-slider" width="1600" height="923" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                </li>
                            </ul>
                        </div>
                    </div>

                                    <!-- гиперссылки -->
                    <div id="header2" class="header-wrapper-special">
                        <div class="menu-wrapper">
                            <div class="main-menu">
                                <div class="menu-main-nav-menu-container">
                                    <ul id="menu-main-nav-menu" class="sf-menu">
                                        {% if user.is_authenticated %}
                                        <li class="menu-item menu-item-has-children"><a id="home" href="/">Home</a></li>
                                        <li class="menu-item"><a id="logout" href="/logout">Logout</a></li>
                                        {% else %}
                                        <li class="menu-item"><a id="login" href="/login">Login</a></li>
                                        <li class="menu-item"><a id="signUp" href="/sign-up">Sign Up</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <div class="menu-icons-inside">
                                <div class="menu-icon menu-icon-mobile"><span class="menu-icon-create"></span></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>


                    <div class="header-extra"></div>
                </div>



                            <!-- гиперссылки for mobile device-->
                <div class="mobile-menu-wrapper">
                    <div class="menu-main-nav-menu-container">
                        <ul id="menu-main-nav-menu-1" class="mobile-menu">
                            {% if user.is_authenticated %}
                            <li class="menu-item menu-item-has-children"><a id="home" href="/">Home</a></li>
                            <li class="menu-item"><a id="logout" href="/logout">Logout</a></li>
                            {% else %}
                            <li class="menu-item"><a id="login" href="/login">Login</a></li>
                            <li class="menu-item"><a id="signUp" href="/sign-up">Sign Up</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>



                <!-- от header до footer -->
                <div class="container-wrapper home-container">
                    <div id="container">
                        <!-- start container -->

                        <section id="about" class="other-page-item onepager_section_class">
                            <div id="post-9" class="post-9 page type-page status-publish hentry">
                                <div class="center">
                                    <div class="vc_row wpb_row vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-8">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_content_element vc_hireme_about">
                                                        <div class="about-sh-left">
                                                            <div class="about-sh-title">John Smith</div>
                                                            <div class="about-sh-subtitle">Web designer</div>
                                                            <div class="about-sh-border"></div>
                                                            <div class="about-sh-content">Lorem ipsum dolor sit amet, consectetur adipielit. Sunt sed ad possimus magm maiores.Ipa Lorem ipsum dolor sit amet, consectetur adiic Sunt sed ad posimus magnam maores. Ipsam as velt blanditiis debitis consequuntur mollita umenda nam obcaecati illo!</div>
                                                            <div class="about-sh-button-wrapper"><a class="about-sh-button" target="_self" href="/" title="ENES">Read More</a></div>
                                                        </div>
                                                        <div class="about-sh-right about-sh-image"><img src={{ url_for('static', filename='upload/img-about.jpg') }} />
                                                            <div class="about-sh-line-start"></div>
                                                            <div class="about-sh-line-end"></div>
                                                        </div>
                                                        <div class="clear"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                            <!-- навыки персонажа -->
                                        <div class="wpb_column vc_column_container vc_col-sm-4">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="vc_empty_space" id="div_8e37_0"><span class="vc_empty_space_inner"></span></div>
                                                    <div class="vc_progress_bar wpb_content_element  vc_progress-bar-color-bar_grey">
                                                        <div class="vc_general vc_single_bar"><small class="vc_label">Сила <span class="vc_label_units">40%</span></small><span class="vc_bar " data-percentage-value="40" data-value="40"></span></div>
                                                        <div class="vc_general vc_single_bar"><small class="vc_label">Ловкость <span class="vc_label_units">70%</span></small><span class="vc_bar " data-percentage-value="70" data-value="70"></span></div>
                                                        <div class="vc_general vc_single_bar"><small class="vc_label">Телосложение <span class="vc_label_units">40%</span></small><span class="vc_bar " data-percentage-value="40" data-value="40"></span></div>
                                                        <div class="vc_general vc_single_bar"><small class="vc_label">Интеллект <span class="vc_label_units">60%</span></small><span class="vc_bar " data-percentage-value="60" data-value="60"></span></div>
                                                        <div class="vc_general vc_single_bar"><small class="vc_label">Размер персонажа <span class="vc_label_units">70%</span></small><span class="vc_bar " data-percentage-value="70" data-value="70"></span></div>
                                                    </div>

                                                        <!-- соцсети -->
                                                    <div class="wpb_content_element vc_socials">
                                                        <ul class="socials-sh">
                                                            <li>
                                                                <a class="fa sh-socials-url fa-vk" href="#" title="VKontakte" target="_blank" id="a_8e37_0"></a>
                                                            </li>
                                                            <li>
                                                                <a class="fa sh-socials-url fa-github" href="#" title="GitHub" target="_blank" id="a_8e37_1"></a>
                                                            </li>
                                                        </ul>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="vc_row wpb_row vc_row-fluid widther-box">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_content_element vc_hireme_columnwithicon">
                                                        <div class="cwi-wrapper">
                                                            <div class="cwi-single">
                                                                <div class="cwi-icon-wrapper"><span class="cwi-icon flaticon-smartphone"></span></div>
                                                                <div class="cwi-details">
                                                                    <div class="cwi-title">Phone number</div>
                                                                    <div class="cwi-content">+1 256 254 84 56
                                                                        <br /> +123-456-7890
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="cwi-single odd-cwi-item">
                                                                <div class="cwi-icon-wrapper"><span class="cwi-icon flaticon-placeholder-3"></span></div>
                                                                <div class="cwi-details">
                                                                    <div class="cwi-title">User address</div>
                                                                    <div class="cwi-content">24058, Belgium, Brussels, Liutte 27 United State</div>
                                                                </div>
                                                            </div>
                                                            <div class="cwi-single">
                                                                <div class="cwi-icon-wrapper"><span class="cwi-icon flaticon-paper-plane-1"></span></div>
                                                                <div class="cwi-details">
                                                                    <div class="cwi-title">Email Address</div>
                                                                    <div class="cwi-content">johnsmith@company.com youoffice@company.com
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="center">

                                <h1 align="center" class="comments-title">Комментарии</h1>
                                <ul class="list-group list-group-flush" id="notes">
                                    {% for note in user.notes %}
                                    <li class="list-group-item">
                                        {{ note.data }}
                                        
                                        <button type="button" class="fa sh-socials-url" onclick="deleteNote({{ note.id }})">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </li>
                                    {% endfor %}
                                </ul>
                                
                                <form method="POST">
                                    <textarea name="note" id="note" class="form-control comments-area"></textarea>
                                    <br />

   

                                    <div align="center" class="about-sh-button-wrapper">
                                        <button type="submit" class="comments-button"><a class="about-sh-button">Оставить комментарий</a></button>
                                    </div>

                                </form>
        
                            </div>


                        </section>
                        
                    </div>
                    <!-- end container -->
                    <div class="clear"></div>
                </div>
                <!-- end container-wrapper -->
                <div class="footer">

                </div>
            </div>
        </div>
            <script type='text/javascript' src={{ url_for('static', filename='js/jquery.js') }}></script>
            <script type='text/javascript' src={{ url_for('static', filename='js/jquery.localscroll.js') }}></script>
            <script type='text/javascript' src={{ url_for('static', filename='js/jquery.animsition.min.js') }}></script>
            <script type='text/javascript' src={{ url_for('static', filename='js/waypoints.min.js') }}></script>
            <script type='text/javascript' src={{ url_for('static', filename='js/jquery.mobilemenu.js') }}></script>
            <script type='text/javascript' src={{ url_for('static', filename='js/custom.js') }}></script>
            <script type='text/javascript' src={{ url_for('static', filename='js/composer_front.min.js') }}></script>
            <script type='text/javascript' src={{ url_for('static', filename='js/jquery.isotope.min.js') }}></script>
            <script type='text/javascript' src={{ url_for('static', filename='js/jquery.themepunch.tools.min.js') }}></script>
            <script type='text/javascript' src={{ url_for('static', filename='js/jquery.themepunch.revolution.min.js') }}></script>
            <script type="text/javascript" src={{ url_for('static', filename='js/extensions/revolution.extension.slideanims.min.js') }}></script>
            <script type="text/javascript" src={{ url_for('static', filename='js/extensions/revolution.extension.navigation.min.js') }}></script>
            <script type="text/javascript" src={{ url_for('static', filename='js/extensions/revolution.extension.parallax.min.js') }}></script>
            <script type="text/javascript" src={{ url_for('static', filename='js/extens_3.js') }}></script>

            <script type="text/javascript" src={{ url_for('static', filename='index.js') }}></script>

    </body>
</html>